.inventory {
  --borderColor: #3a3a3a;
  --bgColor: #262626;
  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;

    .modal {
      position: absolute;
      right: 0;
      top: 0;
      width: 200px;
      height: 300px;

      background: var(--bgColor);
      border: 2px solid #8a8a8a;
      border-radius: 5px;
      padding: 10px;
      color: #fff;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      user-select: none;
      &__removeBlock {
        position: relative;
        height: 50px;
        width: 100%;
      }
      &__removeButton {
        height: 100%;
        background: #fa7272;
        width: 100%;
      }
      &__closeButton {
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
      }
      &__confirm {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        input {
          width: 100%;
          height: 50%;
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
        button {
          width: 50%;
          height: 50%;
        }
      }
    }
  }
  &__slot {
    border: 1px solid var(--borderColor);
    display: flex;
    &:hover {
      background: #9b989815;
      cursor: pointer;
    }
  }
  &__item {
    background: #8aa770;
    width: 50%;
    height: 50%;
    margin: auto auto;
  }
}
