.inventory {
  --borderColor: #3a3a3a;
  --bgColor: #262626;
  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;

    .modal {
      position: absolute;
      right: 0;
      top: 0;
      width: 200px;
      height: 300px;

      background: var(--bgColor);
      border: 2px solid #8a8a8a;
      border-radius: 5px;
      padding: 10px;
      color: #fff;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      user-select: none;
      &__removeBlock {
        position: relative;
        height: 50px;
        width: 100%;
      }
      &__removeButton {
        height: 100%;
        background: #fa7272;
        border: none;
        border-radius: 8px;
        width: 100%;
        transition: all 0.3s;
        &:hover {
          background: #923a3a;
          color: #fff;
        }
      }
      &__closeButton {
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
      }
      &__confirm {
        border-radius: 8px;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        input {
          width: 100%;
          border: none;
          color: #fff;
          padding: 5px;
          background: var(--bgColor);
          border: 2px solid var(--borderColor);
          border-radius: 2px;
          margin: 0 0 5px 0;
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
        button {
          width: 50%;
          background: var(--bgColor);
          border: 2px solid var(--borderColor);
          border-radius: 2px;
          padding: 5px;
          color: #fff;
          transition: all 0.3s;
          &:first-child:hover {
            background: #fff;
            color: #262626;
          }
          &:last-child:hover {
            background: #fa7272;
            color: #fff;
          }
        }
      }
    }
  }
  &__slot {
    border: 1px solid var(--borderColor);
    display: flex;
    &:hover {
      background: #9b989815;
      cursor: pointer;
    }
  }
  &__item {
    background: #8aa770;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    height: 50%;
    margin: auto auto;
    position: relative;
    .count {
      border-radius: 0 0 4px 0;
      color: #c8ddd6;
      position: absolute;
      background: #37442c;
      padding: 5px;
      bottom: 0px;
      right: 0px;
    }
  }
}
